
<h1>Display your Pirate here</h1>
Pirate Name: <%= @pirate.name %>
Pirate Weight: <%= @pirate.weight %>
Pirate Height: <%= @pirate.height %>

<% @ships.each_with_index do |ship, index| %>

  <h2>Ship <%= index %></h2>
  Ship Name: <%= ship.name %>
  Ship Type: <%= ship.type %>
  Ship Booty: <%= ship.booty %>

<% end %>
